body {
  margin: 0;
  padding: 0;
  background: #f2efe6;
}

.expense {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expense-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 90px;
  width: 90%;
  background: #d8d5ce;
  margin: 40px;
  border-radius: 30px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
  padding: 20px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.expense-form-title {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #c2c0bb;
  width: 100%;
  margin-bottom: 1.6%;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.expense-form-title button {
  background: none;
  border: none;
  font-size: 45px;
  margin-right: 2%;
  margin-top: 0.6%;
  font-weight: bold;
  cursor: pointer;
}

.expense-form-title > h1 {
  font-weight: bolder;
  margin-left: 30px;
  margin-right: 30px;
}

/* .form-group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
} */

.expense-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 90%;
  background: #d8d5ce;
  margin: 60px;
  border-radius: 30px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.expense-list-title {
  background: #c2c0bb;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
  margin-bottom: 1.6%;
}

.expense-list-title > h1 {
  font-weight: bolder;
  margin-left: 30px;
}

.exp-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.exp-table-header {
  width: 100%;
  height: 55px;
  background: #acaaa4;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 5px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}

.exp-table-body {
  width: 99.3%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 20px;
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 10px;
}

.exp-table-row {
  width: 100%;
  height: 55px;
  background: #c2c0bb;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}

.form-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-group-1,
.form-group-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.form-group-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.form-group-1 > label > select {
  width: 35vw;
}

.form-group-1 > label > input {
  width: 35vw;
}

.form-group-3 > label > select {
  width: 35vw;
}

.form-group-3 > label > input {
  width: 35vw;
}

.form-group-2 > label > input {
  width: 75vw;
}

.form-group-4 {
  width: 77.5vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

select,
input {
  /* justify-content: space-between; */
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #c2c0bb;
  font-size: 12pt;
  box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.24);
  outline: none;
  box-sizing: border-box;
}

/* width */
.exp-table-body::-webkit-scrollbar {
  width: 40px;
}

/* Track */
.exp-table-body::-webkit-scrollbar-track {
  background: #c2c0bb;
  border-radius: 10px;
}

/* Handle */
.exp-table-body::-webkit-scrollbar-thumb {
  background: #acaaa4;
  border-radius: 10px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
}

/* Handle on hover */
.exp-table-body::-webkit-scrollbar-thumb:hover {
  background: #a8a6a0;
}

.expense-pagamento::-ms-expand {
  background-position: top 5px right 4px;
}

.mensage {
  width: 20vw;
  display: flex;
  align-items: center;
  color: red;
}

.mensage p {
  margin-right: 10px;
  color: black;
}

label p {
  font-weight: bold;
  font-size: 20px;
}
