body{
    margin: 0;
    padding: 0;
    background: #F2EFE6;
  }

.expense-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
<<<<<<< HEAD
.expense-list-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 90%;
    background: #D8D5CE;
    margin: 60px;
    border-radius: 30px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}

.expense-list-title{
    background: #C2C0BB;
    width: 97%;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}

.expense-list-title > h1 {
    font-weight: bolder;
    margin-left: 30px;
}

.exp-table{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.exp-table-header{
    width: 100%;
    height: 55px;
    background: #ACAAA4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight:bolder;
    font-size: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}

.exp-table-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 20px;
}

.exp-table-row{
    width: 100%;
    height: 55px;
    background: #C2C0BB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
}
=======

.expense-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 80vh;
    border: 8px;
    background-color: #D8D5CE;
    border-radius: 30px;
    box-shadow: 0px 8px 16px 6px rgba(0, 0, 0, 0.33);
  }

  .titulo{
    display: flex;
    background-color: #C2C0BB;
    width: 80%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 360px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.19);
    border-radius: 30px;
  }

 
>>>>>>> ee8035be30fc79e5a63f1015a3f20eab9c213eb5
